*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# eclipse
.classpath
.project
.settings

# maven
target
*.versionsBackup
pom.xml.bak

# intellij
.idea
*.iml
*.ipr
*.iws

# others
.fbprefs
temp.xml
derby.log
.clover
bin
*.orig
out.log

.DS_Store #annoying mac-only problem