		body {
			background-color: #061f3a;
			margin: 0px;
			padding: 0px;
		}
		
		h1 {
			margin: 0px;
			margin-left: 15px;
		}
		
		.backgroundfade {
			position: absolute;
			width: 100%;
			height: 400px;
			background-color: #061f3a;
			z-index: -1;
			
			background: -webkit-linear-gradient(#566c8a, #061f3a);
			background: -o-linear-gradient(#566c8a, #061f3a);
			background: -moz-linear-gradient(#566c8a, #061f3a);
			background: linear-gradient(#566c8a, #061f3a);
		}
		
		.wrap {
			width: 700px;
			margin: 0px auto;
			background-color: #f6f6fb;
			
		}
		
		.menuWrapper{
			height: 48px;
		}
		
		.menu
		{
			height: 50px;
			text-align: center;
			background: #296C03; 
			/* 
			background: linear-gradient(top, #296C03 0%, #676767 100%);  
			background: -moz-linear-gradient(top, #296C03 0%, #676767 100%); 
			background: -webkit-linear-gradient(top, #296C03 0%,#676767 100%); 
			*/
			box-shadow: 0px 2px 10px 1px #294203;
			z-index: 3;
		}
		
		nav a {
			width: auto;
			padding: 15px 15px;
			text-decoration: none;
			color: #f6f6fa;
			display: block;
			white-space: nowrap;
		}
		
		nav ul li{
			float: left;
    
			-webkit-transition: all 0.2s;
			-moz-transition: all 0.2s;
			-ms-transition: all 0.2s;
			-o-transition: all 0.2s;
			transition: all 0.2s;
			font-family: Verdana, Geneva, sans-serif;
			font-size: 15px;
		 
		}
		
		nav ul li:hover {
			background: #94c23e;
		}

		nav ul {
			margin-top: 0px;
			text-align: center;
			background: #296C03;
			/* 
			background: linear-gradient(top, #296C03 0%, #676767 100%);  
			background: -moz-linear-gradient(top, #296C03 0%, #676767 100%); 
			background: -webkit-linear-gradient(top, #296C03 0%,#676767 100%); 
			*/
			padding: 0px;
			list-style: none;
			position: relative;
			display: inline-table;
			z-index: 3;	
		}
			nav ul:after {
				/* content: ""; */
				clear: both;
			}
		
		.content {
			position: absolute;
			top: 122px;
			bottom: 0px;
			width: 650px;
			padding: 25px;
			background-color: #f6f6fb;
			
			font: 12pt Verdana, Geneva, sans-serif;
		}