		html {
			height: 100%;
		}
		
		body {
			margin: 0px;
			padding: 0px;
			text-align: center;
			
			background: -webkit-linear-gradient(#2E5080, #0A0C0F);
			background: -o-linear-gradient(#2E5080, #0A0C0F);
			background: -moz-linear-gradient(#2E5080, #0A0C0F);
			background: linear-gradient(#2E5080, #0A0C0F);
			height: 100%;
			/*background-repeat: no-repeat;*/
		}
		
		p {
			display: block;
		}
		
		h1 {
			margin: 0px;
			
			font: 20pt Verdana, Geneva, sans-serif;
		}
		
		/*.backgroundfade {
			position: absolute;
			left: 0px;
			height: 400px;
			
			background-color: #0A0C0F;
			z-index: -1;
			
			background: -webkit-linear-gradient(#2E5080, #0A0C0F);
			background: -o-linear-gradient(#2E5080, #0A0C0F);
			background: -moz-linear-gradient(#2E5080, #0A0C0F);
			background: linear-gradient(#2E5080, #0A0C0F);
		}*/
		
		.wrap {
			left: 20px;
			right: 20px;
			margin: 0px auto;
			background-color: #f6f6fb;
			max-width: 700px;
			
		}
		
		.menuWrapper{
			/*height: 100px;*/
			
		}
		
		.menu
		{
			background: #296C03; 
			box-shadow: 0px 2px 10px 1px #294203;
			position: relative;
			text-align: center;
			
		}
		
		nav a {
			width: auto;
			padding: 15px 10px;
			text-decoration: none;
			color: #f6f6fa;
			display: block;
			white-space: nowrap;
		}
		
		nav ul li{
			display: inline-block;
    
			-webkit-transition: all 0.2s;
			-moz-transition: all 0.2s;
			-ms-transition: all 0.2s;
			-o-transition: all 0.2s;
			transition: all 0.2s;
			font-family: Verdana, Geneva, sans-serif;
			font-size: 15px;
		 
		}
		
		nav ul li:hover {
			background: #94c23e;
		}

		nav ul {
			margin: 0px;
			text-align: center;
			background: #296C03;
			padding: 0px;
			list-style: none;
			position: relative;
			display: inline-table;
		}
		nav ul:after {

			clear: both;
		}
		
		.content {
			padding: 25px;
			background-color: #f6f6fb;
			text-align: left;
			font: 12pt Verdana, Geneva, sans-serif;
		}
		
		.directions {
			width:100%;
			clear: both;
			font-size: 8pt; 
		}
		
		/* Directions CSS */
		.description {
				clear: both;
				margin-bottom: 0px;
				font-size: 13pt; 
		}
		.time {
			float: right; clear: right;	
		}
		.point {
			float: left;
		}
		